.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav a:hover {
    color: #61dafb;
  }

  input {
    padding: 8px;
    margin-right: 8px;
  }
  
  button {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #61dafb;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a8e0;
  }
  